@media (min-width: 600px) and (max-width:900px) {
    
    .card-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
    .logo{
        grid-template-columns: repeat(2, 1fr); 
    }
    .section--one__content{
        display: flex;
    }
}


  